body {
    font-family:
        "Hiragino Kaku Gothic ProN",
        Meiryo,
        sans-serif;
}

header {
    background: linear-gradient(aquamarine, lightseagreen);
    color: white;
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

li {
    list-style: none;
    width: 50%;
}
li:nth-child(wn) {
    margin-right: 0;
}